@import url("https://fonts.googleapis.com/css?family=Noto%20Serif%20Bengali:700|Noto%20Serif%20Bengali:400");
* {
  margin: 0;
  padding: 0;
}
.Background {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: grid;
  grid-template-rows: 15vh 90vh 5vh;
}

.Middle {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.SideBar {
  background-color: var(--background);
}

.Content {
  display: grid;
}
.Title {
  font-size: 60px;
  color: var(--text);
  font-family: "Noto Serif Bengali";
  font-weight: 700;
  justify-self: center;
}

@media only screen and (max-width: 800px) {
  .Middle {
    grid-template-columns: 2% 96% 2%;
  }
  .Title {
    font-size: 1.5rem;
  }
}
