@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text: #eaebed;
  --background: #0f1117;
  --backgroundCell: #171a23;
  --primary: #e77c18;
  --secondary: #8e2319;
  --accent: #ddc23f;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
